<section class="section {{ background }}">
  {% include 'section-title' title: 'Shop' action: 'View All' link: '/products' background: '{{ background }}' %}

  <div class="section grid">
    <div class="featuredMainItem">
      {% for product in categories.featured.products limit: 1 %}
        <a href="/product/{{ product.permalink }}" class="featuredItemLink">
          <div class="featuredPlaceholderMain">
            <div class="placeHolderBorder"></div>
            <img src="{{ product.image | product_image_url }}" loading="lazy" />
            <div class="featuredItemName boxBorder">
              <h3>{{ product.name }}</h3>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="featuredSecondaryItems boxBorder">
      {% for product in categories.featured.products offset: 1 limit: 2 %}
        <a href="/product/{{ product.permalink }}" class="featuredItemLink">
          <div class="featuredPlaceholderSecondary">
            <div class="placeHolderBorder"></div>
            <img src="{{ product.image | product_image_url }}" loading="lazy" />
            <div class="featuredItemName boxBorder">
              <h3>{{ product.name }}</h3>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>